:global(#index) {
  min-height: 100vh;
}

:global(.container) {
  width: 100%;
}

:global(.align-center) {
  text-align: center;
}
:global(.ui):global(.segment):global(.borderless) {
  border: none;
  box-shadow: none;
}

:global(.mgTop20) {
  margin-top: 20px !important;
}

:global(.mgTop30) {
  margin-top: 30px !important;
}

:global(.mgTop40) {
  margin-top: 40px !important;
}
