{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MilkyWay</title>
    <link type="text/css" href="{% static 'app.css' %}" />
    <style>
      html {
        overflow-x: hidden;
      }

      body {
        background: #f0f2f5;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="index"></div>
    <script type="text/javascript">
      _k = {{k_ | safe}}
    </script>
    <script type="text/javascript" src="{% static 'app.js' %}"></script>
  </body>
</html>
