:global(.ui):global(.items) > :global(.item) > :global(.image) > .profileImage {
  width: 90px;
  height: 90px;
  border: 1px solid;
  border-radius: 50px;
  margin: auto;
}

:global(.ui):global(.bottom):global(.attached).bottomSpace {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

:global(.ui):global(.segment).bottomSpace {
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
